@page "/edit-customer"
@page "/edit-customer/{id:guid}"
@inject HttpClient httpClient

@if (Id == null)
{
    <h3>Create Customer </h3>
}
else
{
    <h3>Edit @customer.ContactName</h3>
}

<EditForm Model="customer" OnSubmit="HandleSubmit">
    <div>
        <label for="title">Name</label>
        <InputText id="Name" @bind-Value=customer.ContactName class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</EditForm>
@code {
    [Parameter]
    public Guid? Id { get; set; }
    public Customer customer { get; set; } = new Customer();

    protected override async Task OnParametersSetAsync()
    {
        if (Id is not null)
        {
            var result = await httpClient.GetFromJsonAsync<Customer>($"api/customer/{Id}");
            if (result is not null)
                customer = result;
        }
    }

    async Task HandleSubmit()
    {
        if (Id is not null)
        {//Update
            var result = await httpClient.PutAsJsonAsync($"api/customer/{Id}", customer);
            customer = await result.Content.ReadFromJsonAsync<Customer>();
            //todo:We can redirect here.
        }
        else
        {//Create
            var result = await httpClient.PostAsJsonAsync($"api/customer", customer);
            customer = await result.Content.ReadFromJsonAsync<Customer>();
        }

    }
}
