@page "/"
@using BlazorApp.Shared
@using Microsoft.AspNetCore.Components.QuickGrid
@inject HttpClient httpClient
<PageTitle>Home</PageTitle>

<h1>Customers</h1>

<QuickGrid ItemsProvider="customersProvider"  Pagination="pagination">
    <PropertyColumn Property="c=>c.Id" Title="Customer ID"></PropertyColumn>
    <PropertyColumn Property="c=>c.ContactName" Sortable="true"></PropertyColumn>
    <PropertyColumn Property="c=>c.City" Sortable="true"></PropertyColumn>
    <PropertyColumn Property="c=>c.PostalCode" Sortable="true"></PropertyColumn>
    <PropertyColumn Property="c=>c.Address" Sortable="true"></PropertyColumn>
    <PropertyColumn Property="c=>c.CompanyName" Sortable="true"></PropertyColumn>
    <PropertyColumn Property="c=>c.Country" Sortable="true"></PropertyColumn>
    <PropertyColumn Property="c=>c.Phone" Sortable="true"></PropertyColumn>
    <PropertyColumn Property="c=>c.Region" Sortable="true">
        <ColumnOptions>
            <input type="number" />
        </ColumnOptions>
    </PropertyColumn>
    <TemplateColumn Title="Action">
        <button class="btn-none bg-white border-0"><span class="oi oi-trash text-danger"></span></button>
    </TemplateColumn>

</QuickGrid>

<Paginator State="@pagination"></Paginator>

@code {

    PaginationState pagination = new() { ItemsPerPage=5 };
    List<Customer> Customers = new();
    GridItemsProvider<Customer>? customersProvider;
    protected override async Task OnInitializedAsync()
    {
        customersProvider = async req =>
        {
            var response = await httpClient.GetFromJsonAsync<CustomerResponse>($"api/customer/{req.StartIndex}/{req.Count}");
           // var result = await httpClient.GetAsync($"api/customer/{req.StartIndex}/{req.Count}");
            //var response = await result.Content.ReadFromJsonAsync<CustomerResponse>();
            
            return GridItemsProviderResult.From(items: response.Customers, totalItemCount: response.Count);
        };
        // var result = await httpClient.GetAsync("api/customer");
        // var response = await result.Content.ReadFromJsonAsync<List<Customer>>();
        // Customers = response!;
    }
}
