@page "/SearchBing"
<h3>BingAutoSuggest Local Business in Thessaloniki:</h3>

<input id="Input" @bind=@myInput @bind:event="oninput"  class="form-control"></input>
<BingComponent bingInputParameter="@myInput"></BingComponent>

@code {
    
    public int CurrentCounterValue { get; set; }
    public string? myInput { get; set; }

}
