@inject HttpClient httpClient
<div>    
    <button @onclick=SearchBing class="btn btn-primary">Search Bing</button>
    <h3>BingAutoSuggest:</h3>
    @response

</div>

@code {
    [Parameter]
    public string? bingInputParameter { get; set; }

    public string? response { get; set; }
    
    async Task SearchBing()
    {
        var result = await httpClient.GetAsync($"https://dev.virtualearth.net/REST/v1/Autosuggest?query={bingInputParameter}&userLocation=40.629269,22.947412,5&includeEntityTypes=Business&key=AvfSq16aQ89oaTYEHQxPlShheEVgpFGuSeTpz2xYKQScHMb8Xvn4aba0Wr8bUFWl");
          response= await result.Content.ReadAsStringAsync();
    }
   
}
