@using BlazorApp.Shared
@inject HttpClient httpClient

<button @onclick=SearchBing class="btn btn-primary" disabled="@(String.IsNullOrWhiteSpace(bingInputParameter))">Search Bing</button>
<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>
    </div>


    @if (result != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Business Name</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var resourceSet in result.resourceSets)
                {
                    @foreach (var resource in resourceSet.resources)
                    {
                        @foreach (var value in resource.value)
                        {
                            <tr>
                                <td>
                                    <label> @value?.name</label>
                                </td>
                                <td>
                                    <label> @value?.address?.addressLine</label>
                                </td>

                            </tr>
                        }

                    }
                }
            </tbody>
        </table>
        
    }
</div>
@code {
    [Parameter]
    public string? bingInputParameter { get; set; }

    public BingResponse? result { get; set; }

    async Task SearchBing()
    {
        result = await httpClient.GetFromJsonAsync<BingResponse>($"api/bing?input={bingInputParameter}");
    }

}
