@inject HttpClient httpClient
<div>    
    <button @onclick=SearchBing class="btn btn-primary">Search Bing</button>
    <h3>BingAutoSuggest:</h3>
    @response

</div>

@code {
    [Parameter]
    public string? bingInputParameter { get; set; }

    public string? response { get; set; }
    
    async Task SearchBing()
    {
         var result = await httpClient.GetAsync("https://dev.virtualearth.net/REST/v1/Autosuggest?query=<user_prefix>&userLocation=<lat,long,confidence_radius>&userCircularMapView=<lat,long,radius>&userMapView=<nw_lat,nw_long,se_lat,se_long>&maxResults=<max_results>&includeEntityTypes=<Place,Address,Business>&culture=<culture_code>&userRegion=<country_code>&countryFilter=<country_code_or_none>&key=<BingMapKey>");
          response= await result.Content.ReadAsStringAsync();
    }
   
}
