@using BlazorApp.Shared
@inject HttpClient httpClient

<button @onclick=SearchBing class="btn btn-primary" disabled="@(String.IsNullOrWhiteSpace(bingInputParameter))">Search Bing</button>
<div class="container">
    <div class="row">
        <div class="col-sm">
            
        </div>
    </div>


    @if (result != null)
    {
        @foreach (var resourceSet in result.resourceSets)
        {

            @foreach (var resource in resourceSet.resources)
            {
                @foreach (var value in resource.value)
                {
                    <div class="row">
                        <div class="col-sm">
                            <label>Business Name: @value?.name</label>
                        </div>
                        <div class="col-sm">
                            <label>Adress: @value?.address?.addressLine</label>
                        </div>
                    </div>
                    <hr />
                }

            }
        }
    }
</div>
@code {
    [Parameter]
    public string? bingInputParameter { get; set; }

    public BingResponse? result { get; set; }

    async Task SearchBing()
    {
        result = await httpClient.GetFromJsonAsync<BingResponse>($"api/bing?input={bingInputParameter}");
    }

}
